<template>
  <div id="time"></div>
  <div id="recevier"></div>
  <div id="btdy">
    <div id="cake"></div>
    <div class="control">
      <div id="fire"></div>
      <div id="candle"></div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted } from 'vue';
import { App } from './script/App';
onMounted(() => {
  const app = document.getElementById('app');
  if (app) {
    new App(app);
  } else {
    alert('not dom !!!');
  }
});
</script>

<style scoped>
#app {
  position: relative;
}

#time,
#recevier,
#btdy {
  visibility: hidden;
  position: absolute;
}

#time {
  width: 300px;
  height: 300px;
}

#recevier {
  width: 300px;
  height: 80px;
  border: 1px solid var(--color);
  border-top: none;
}

#btdy {
  left: 0;
  right: 0;
  bottom: 0;
  height: 5vh;
  visibility: visible;
  background-color: rgb(46, 46, 46);

  #cake,
  .control {
    position: absolute;
    bottom: 0;
  }

  .control {
    display: flex;
    right: 5%;

    #fire,
    #candle {
      height: 5vh;
      width: 100px;
      background-color: rgb(28, 26, 29);
      margin-left: 30px;
    }
  }

  #cake {
    width: 40vw;
    height: 45vmin;
    margin-inline: 30vw;
    background-color: rgb(107, 106, 109);
  }
}
</style>
