:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color: rgb(255, 70, 131);;
  
  html,
  body {
    height: 100vh;
    margin: 0;
    background-color: #1c1f25;
    #app {
      height: 100%;
    }
  }
}